html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    letter-spacing: 0.8px;
    min-height: 100vh;
    color: white;
    background-size: cover;
}

body {
    background: slategrey;
}